<div class="wrapper">
  <h1>Stupid coaching</h1>
  <h3> Ask your coach </h3>
  <div class = "question">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12">
        <h3><%= @question %></h3>
        <p> You </p>
      </div>
    </div>
  </div>
  </div>

  <div class = "answer">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12">
        <h3><%= @answer %></h3>
        <p> Your coach </p>
      </div>
    </div>
  </div>
  </div>

  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12">
          <%= link_to "Ask other question", ask_path %>
      </div>
    </div>
  </div>
</div>

