<div class="wrapper">
  <div class="container text-left">
    <h1>Stupid coaching</h1>
    <h3> Ask your coach anything </h3>
    <div class="row">
      <div class="col-xs-12">
        <form action="/answer" method="GET">
          <div class="form-inline form">
            <input class="form-control" type="text" name="question">
            </input>
            <input type="submit" class="btn btn-primary">
            </input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
